<%- include('partials/header') %>
<div style="text-align: center; align-items: center; align-content: center;">
<form style="margin: 15% auto;" action="/dashboard/search_book" method="post">
    <label for="category">Select a category to search</label>
        <select name="category">
            <option value="isbn">ISBN</option>
            <option value="title">Title</option>
            <option value="author">Author</option>
            <option value="year_of_pub">Year of Publication</option>
        </select>
        <br>
        <br>
    <input name="ans" type="text">
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>
<%- include('partials/footer') %>